<h1>Would you like to fill your rectangle?</h1>
<%= form_for :rectangle, url: rectangle_path(@rectangle), method: :patch do |f| %>
 
  <% if @rectangle.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@rectangle.errors.count, "error") %> prohibited
        this rectangle from being saved:
      </h2>
      <ul>
        <% @rectangle.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <p>
    <%= f.check_box :FillAll %>
    <%= f.label :FillAll, "Yes"%>
  </p>

   <p>
    <%= f.check_box :NoFillAll %>
    <%= f.label :NoFillAll, "No"%>
  </p>

  <p>
    <%= f.submit %>
  </p>
 <%end%>