<h1>Editing rectangle</h1>
 
<%= form_for :rectangle, url: rectangle_path(@rectangle), method: :patch do |f| %>
 
  <% if @rectangle.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@rectangle.errors.count, "error") %> prohibited
        this rectangle from being saved:
      </h2>
      <ul>
        <% @rectangle.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :Width %><br>
    <%= f.text_field :Width %>
  </p>
 
  <p>
    <%= f.label :Height %><br>
    <%= f.text_field :Height %>
  </p>

  <p>
    <%= f.label :Color%><br>
    <%= f.text_field :Color%>
  </p>

  <p>
    <%= f.label :Fill%><br>
    <%= f.text_field :Fill%>
  </p>

  <p>
    <%= f.label :FillColor, "If your fill value is not 1, you may choose to fill the rest of your rectangle with another color"%><br>
    <%= f.text_field :FillColor%>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', rectangles_path %>