<h1>New rectangle</h1>
<body bgcolor="LightGray">
<%= form_for :rectangle, url: rectangles_path do |f| %>
  
  <% if @rectangle.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@rectangle.errors.count, "error") %> prohibited
        this rectangle from being created:
      </h2>
      <ul>
        <% @rectangle.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :Width %><br>
    <%= f.text_field :Width %>
  </p>
 
  <p>
    <%= f.label :Height %><br>
    <%= f.text_field :Height %>
  </p>

  <p>
    <%= f.label :Color%><br>
    <%= f.select :Color, ['Blue','Red','Black','Green','Yellow','Teal','Orange','Gray','Brown','Orchid']%>
  </p>

  <p>
    <%= f.label :Fill%>(0.0-1.0)<br>
    <%= f.text_field :Fill%>
  </p>

   <p>
    <%= f.label :FillColor, "If your fill value is not 1, you may choose to fill the rest of your rectangle with another color"%><br>
    <%= f.select :FillColor, ['','Blue','Red','Black','Green','Yellow','Teal','Orange','Gray','Brown','Orchid']%>
  </p>

    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', rectangles_path %>